#toggle-panel1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
}

#app-panel {
    background-color: #ededff;
}
h2 {
    margin: 20px 0;
    font-size: 20px;
    color: #8a92a8;
}

#installed-app {
    background-color: #ededff;
}

.panel-body {
  padding: 0px;
}

.header-menu {
    line-height: 4.0rem;
    background-image: url(../img/personium_header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header-menu-biz {
  background-color: #31437a;
}

.user-dashboard {
    position: relative;
}

.dashboard-block {
    background-color: #ffffff;
    padding: 0 16px 20px;
    overflow: hidden;
}

.subContent {
    background-color: #ffffff;
}
img.p-app-icon, img.ins-app-icon {
    width: 52px;
    height: 52px;
}

.p-app-name, .ins-app-name {
    margin-top: 8px;
    color: #333333;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a.p-app,
a.ins-app {
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    margin: 0 8px;
    width: 120px;
    max-width: calc(33% - 18px);
    text-decoration: none;
    cursor: pointer;
}

.app-info {
  display: flex;
  flex-direction: row;
  margin: 20px 16px;
}
.app-info > * {
  flex: 0 0 auto;
}
.app-info .app-icon {
  width: 88px;
  height: 88px;
  margin-right: 8px;
}
.app-info .app-icon img {
  width: inherit;
  height: inherit;
}
.app-info .app-data {
  flex: 1 1 auto;
}

.detail-section {
  border: 0 none;
  margin: 20px 16px;
}
.overview {
  margin: 20px 0 40px;
}
.app-install {
  text-align: center;
}

section:last-of-type {
  border-bottom: 0 none;
}

.round-btn {
    width: 288px;
    height: 40px;
    padding: 0 16px;
    margin-bottom: 30px;
    background-color: #2b44b2;
    border: 0 none;
    border-radius: 20px;
    color: #ffffff;
    outline: 0;
}

.modal-header.login-header {
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.list > li {
    border-bottom: 1px solid #d4d4d4;
}

.list > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    padding-right: 32px;
    background-image: url(https://demo.personium.io/app-cc-home/__/html/img/parts_list.png);
    background-position: center right;
    background-size: 20px 14px;
    background-repeat: no-repeat;
    color: #333333;
}

a.disabled {
    color: #d4d4d4 !important;
}

#dvBoxInstall .row .col-2 {
    padding-left: 15px;
    padding-right: 0;
}

.modal-body input[type="text"] {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}

.barEllipsis {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}