body{
    /*background-color: #2B2B2B;*/
}

.user-dashboard {
    position: relative;
}

.panel-default {
    /*position: absolute;*/
    z-index: 0;
    width: 100%;
    float:left;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.toggle-panel {
    position: absolute;
    border-color: #ddd;
    width: 100%;
    left: 100%;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.profile-menu {
    paddint: 0px;
    height: 124px;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 28px;
    padding-left: 32px;
    padding-right: 32px;
    background: #1a247f;
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    display: block;
    visibility: visible;
    z-index: -1;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.overlay-on {
    background: rgba(0,0,0,0.7);
    z-index: 0;
}

.slide-menu {
    position: absolute;
    background: #ffffff;
    width:70%;
    height: 100%;
    left: 100%;
    top: 0px;
    z-index: 1;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.profile-header {
    width:112px;
}

.menu-title {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    width: 100%;
}

.sidemenu-list {
    width: 100%;
    border: 1px solid #c7c7c7;
    padding-left: 30px;
    border-collapse: collapse;
}

.sidemenu-itemEmpty {
    width: 20%;
}

.sidemenu-item {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 95%;
    height: 48px;
    border-bottom: 1px solid #c7c7c7;
    border-collapse: collapse;
    color: #333333;
    vertical-align: middle;
}

.sidemenu-lastitem {
    padding-top: 3%;
    padding-bottom: 3%;
    height: 48px;
    border-collapse: collapse;
    color: #333333;
    vertical-align: middle;
}

.slide-on {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.slide-on-holder {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}

div.ins-app {
  float: left;
  width: 208px;
  font-family: Raleway;
  margin-bottom: 16px;
  color: #efd;
}
a.ins-app-icon {
  width: 48px;
  height: 48px;
  display: block;
}
a.ins-app-icon:hover {
  background-color: rgba(128,200,128,0.9);
  -webkit-box-shadow: 1px 8px 4px 4px rgba(200, 200, 200, 0.54);
  -moz-box-shadow:    1px 8px 4px 4px rgba(200, 200, 200, 0.54);
  box-shadow:         1px 8px 4px 4px rgba(200, 200, 200, 0.54);
}

img.ins-app-icon {
  width: 48px;
  height: 48px;
}

div.ins-app-name {
  text-align: center;
  margin: 10px 0px 0px 0px;
  /*text-shadow:    1px 4px 2px rgba(50, 50, 50, 0.54);*/
  color: #333333;
  font-size: 21px;
}

.moveIcon {
    width: 36px;
    height: 36px;
    right: 5%;
    position: absolute;
    transform: scale( -1, 1);
    -o-transform: scale( -1, 1);
    -ms-transform: scale( -1, 1);
    -moz-transform: scale( -1, 1);
    -webkit-transform: scale( -1, 1);
    filter: fliph();
    -ms-filter: fliph();

    background: #000000;
}

.icon-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.table-fixed {
    width:100%;
    table-layout: fixed;
    white-space: nowrap;
}

.headerUrl {
    width: 70%;
}

.ellipsisText {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.headerAccountName {
    width: 100%;
}

.headerAccountNameText {
    float:left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.main_box{
    margin: auto;
    background: #1a247f; /* Old browsers */
    /*width:360px;*/
    width: 100%;
    /*height:100%;*/
    position:relative;
    /*left:32.5%;
    top:15%;*/
    overflow: hidden;
    
    /*-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);*/
}

.image-circle-small{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 10px;
}

.image-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin-right: 10px;
}

.image-circle-large{
    border-radius: 50%;
    width: 172px;
    height: 172px;
    border: 1px solid #000;
}

@media (max-width: 767px) {
    .main_box{
        margin: auto;
        /*width:360px;*/
        width: 100%;
        /*height:100%;*/
        position:relative;
        /*left:5%;
        top:10%;*/
        
        /*-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);*/
    }
}

.image-error {
    width: 48px;
    height: 48px;
}

.error_box {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
}

.error_area {
    background: #d10b0b;
    margin-top:70px;
    opacity: 0;
}

.error_area_active {
    display:block;
}

.msg_area {
    width: 272px;
    height: 48px;
    margin-top: 11px;
}

.msg_area td {
    vertical-align: middle;
}

.error_msg {
    font-size: 14px;
}

.frames_active {
    /*animation-duration: 5s;
    animation-name: slideinError;*/
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 1;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.frames_hide {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

@keyframes slideinError {
    from {
        margin-top:70px;
        opacity: 0;
    }
    20% {
        margin-top:20px;
        opacity: 1;
    }
    80% {
        margin-top:20px;
        opacity: 1;
    }
    to {
        margin-top:70px;
        opacity: 0;
    }
}

.modal-content {
  background-color: rgba(255,255,255,1);
}

.navbar-content {
  width: 100%;
}
.list-group-item {
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

.header-top i {
    font-size: 36px;
    color: #dfe;
}

.display-table {
    display: table;
    padding: 0;
    /*width: 720px;*/
    width: 100%;
}

.display-table-row {
    display: table-row;
    width: 720px;
    position: relative;
    overflow: hidden;
}

.display-table-cell {
    display: table-cell;
    float: none;
    width: 100%;
    z-index: 0;
}

.display-parent-div {
    /*width: 720px;*/
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    margin: 0px;
    /*min-height:1000px; */
    background: #ffffff;
}

.navbar {
    height: 36px;
}

.v-align {
    vertical-align: top;
}

.v-align-m {
    display:table-cell;
    vertical-align: middle;
}

textarea {
    resize:none;
}

/* Modal CSS */
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal{
    top: 0%; 
}
.modal-header .close {
    margin-top: 2px;
}

.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header h4 {
    color: #030;
}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}

/* Heder Menu CSS */

.header-menu {
    background: #1a247f;
    color: #FFFFFF;
}

.prev-icon {
    width:48px;
    height:48px;
}

.title {
    width:60%;
    font-size: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-icon {
    width:48px;
    height:48px;
}

.header-top {
    margin: 0;
    padding-top: 4px;
}

.header-top img {
    border-radius: 50%;
    max-width: 96px !important;
    width: 100%;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top ul.dropdown-menu {
    border: medium none;
    left: -220px;
    padding: 17px;
    background-color: rgba(255,255,255,1);
    width: 250px;
    text-align; left;
   color: #030;
}

.sizeBody1 {
    font-size: 24px;
}
.sizeCaption {
    font-size: 21px;
}

.sizeCaption2 {
    font-size: 18px;
}

.commonLabel {
    font-size: 21px;
    color: #333333;
}

a.list-group-item {
    /*background-color: rgba(255,255,255,0.0);*/
    color: #030;
    white-space: nowrap;
}

a.list-group-item:hover {
    color: #fff;
    background-color: #337ab7;
}

.navbar-content > span {
    font-size: 20px;
    font-weight: 700;
}

.allToggle {
    display:block;
    width:100%;
    height:100%;
}

a.toggle{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}
.toggle:after{
    position: absolute;
    top: 35%;
    right: 20px;
    width: 10px;
    height: 10px;
    content: "";
    border-top: 2px solid #7a0;
    border-right: 2px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggleButton{
    margin-bottom: 10px;
}

.toggle.active:after {
    top: 40%;
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.edit-button {
    top : 10%;
    padding: 5px;
    text-align: center;
    border: 1px solid #606060;
    display: inline;
}
.del-button {
    top : 10%;
    padding: 5px;
    margin-left:5px;
    text-align: center;
    border: 1px solid #606060;
    display: inline;
}

/*Main CSS(Device)*/

@media (max-width: 767px) {
    /*.display-table {
        display: table;
        padding: 0;
        width: 360px;
    }*/
    .display-parent-div {
        /*min-height:800px;*/
    }
    .header-top i {
        font-size: 24px;
        color: #dfe;
    }
    .navbar {
        height: 24px;
    }
    .prev-icon {
        width:24px;
        height:24px;
    }
    .title {
        font-size: 18px;
    }
    .menu-icon {
        width:24px;
        height:24px;
    }
    .header-top {
        margin: 0;
        padding-top: 2px;
    }
    .header-top img {
        border-radius: 50%;
        max-width: 48px !important;
        width: 100%;
    }
    .prev-icon img {
        border-radius: 50%;
        max-width: 48px !important;
        width: 100%;
    }
    .sizeBody1 {
        font-size: 16px;
    }
    .sizeCaption {
        font-size: 14px;
    }
    .sizeCaption2 {
        font-size: 10px;
    }
    .commonLabel {
        font-size: 14px;
        color: #333333;
    }
    .profile-menu {
        paddint: 0px;
        height: 62px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 14px;
        padding-left: 16px;
        padding-right: 16px;
        background: #1a247f;
    }
    .profile-header {
        width:56px;
    }
    .sidemenu-list {
        border: 1px solid #c7c7c7;
        padding-left: 20px;
    }
    .sidemenu-itemEmpty {
        width: 20%;
    }
    .sidemenu-item {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 95%;
        height: 32px;
        border-bottom: 1px solid #c7c7c7;
        border-collapse: collapse;
        color: #333333;
    }
    
    .sidemenu-lastitem {
        height: 32px;
        border-collapse: collapse;
        color: #333333;
    }
    div.ins-app {
      float: left;
      width: 104px;
      font-family: Raleway;
      margin-bottom: 30px;
      color: #efd;
    }
    a.ins-app-icon {
      width: 38px;
      height: 38px;
      display: block;
    }
    img.ins-app-icon {
      width: 38px;
      height: 38px;
    }
    div.ins-app-name {
      text-align: center;
      margin: 10px 0px 0px 0px;
      /*text-shadow:    1px 4px 2px rgba(50, 50, 50, 0.54);*/
      color: #333333;
      font-size: 14px;
    }
    .moveIcon {
        width: 24px;
        height: 24px;
    }
    .icon-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 16px;
    }
    .navbar-content > span {
        font-size: 13px;
        font-weight: 700;
    }
}