body{
    background-color: #4D6CEF;
}

*{
    font-family: 'Raleway', sans-serif;
    color : #FFF;
}

h1{
    margin: 80px 0 44px;
    font-weight: normal;
    font-size: 36px;
}
.login-section {
    text-align: center;
    border: 0;
}

.login-form-controls {
    margin: 24px 0 30px;
}

.login-form-controls input {
    width: 288px;
    padding: 0 16px;
    margin-bottom: 16px;
    line-height: 40px;
    border: 0 none;
    border-radius: 20px;
    color: #333333;
}
.login-form-controls input:focus {
    outline: none;
    border: none;
}
.login_btn {
    width: 288px;
    height: 40px;
    padding: 0 16px;
    margin-bottom: 30px;
    background-color: #2A34B7;
    border: 0 none;
    border-radius: 20px;
    outline: 0;
}

.login_btn:hover,.login_btn:focus {
    background-color: #44447f;
}

.login_btn_g{
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
    width: 272px;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
}

.login_btn_g:hover,.login_btn_g:focus {
    background-color: rgba(0,0,0,0.2);
    border: 0 none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
    width: 272px;
    font-size: 16px;
    font-weight: inherit;
    outline: none;
}

.image-circle-large{
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 0px none;
}

.fontBlack {
    color: #000000 !important;
    font-weight: inherit !important;
}

#tProfileDisplayName {
    font-size: 24px;
    margin: 16px 0 24px;
}