/* メインページのみ特殊対応 */
body{
    background: #EDEDFF;
}

a,
a:focus,
a:hover {
    outline:none;
    text-decoration: none;
}


.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}

.service-header {
    font-size: 21px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #333333;
}

.shield-buttons {
    display: none;
}

header {
  padding: 32px 0 28px;
}

/* カラー定義 */
#main-menu {
  background-color: #ededff;
}
#main-mySercvice,
#main-info {
  background-color: #ffffff;
}
#main-info {
  border-top: 8px solid #ededed;
}
#main-info::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d4d4d4;
}

/* お知らせ */
#main-info h2 {
  margin: 20px 16px 4px;
}
.info-list {
  /* border-top: 1px solid #d4d4d4; */
}
.info-list > li {
  border-bottom: 1px solid #d4d4d4;
}
.info-list > li:last-child {
  border-bottom: 0 none;
}
.info-list > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  color: #333333;
}
.info-list > li > a > * {
  flex: 0 0 auto;
}

.info-icon img {
  width: 40px;
  height: 40px;
}
.info-list > li > a > .info-subject {
  flex: 1 1 auto;
  margin: 0 16px;
  overflow: hidden;
}
.info-subject .sizeCaption {
  color: #6d6d6d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#info-readmore {
  display: block;
  margin: 12px 0;
  padding: 8px;
  text-align: center;
  color: #333333;
}

/*Main CSS(Device)*/

@media (max-width: 767px) {
  header {
    padding: 32px 0 28px;
  }

  /* 同じクラス名で土台と画像を装飾している */
  div.p-app-icon,
  div.ins-app-icon {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 8px;
    position: relative;
  }
  img.p-app-icon,
  img.ins-app-icon {
    width: 52px;
    height: 52px;
  }
  .p-app-name,
  .ins-app-name {
    font-size: 14px;
  }

  .info-icon img {
    width: 40px;
    height: 40px;
  }
}