.ellipsisText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-icon {
    position: relative;
}

a.ins-app-icon {
    display: block;
    width: 100%;
    height: 100%;
}

img.ins-app-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

div.p-app-icon .badge,
div.ins-app-icon .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    min-width: 24px;
    min-height: 24px;
    padding: 6px 4px;
    border-radius: 14px;
    background-color: #EF5754;
    box-sizing: border-box;
    color: #fff;
}

.app-name {
    color: #333333;
}

.installed-app {
    padding-left: 90px;
    color: #D5D5D5;
}

.user-name-and-icon > .user-icon,
.user-name-and-icon > .user-icon > img.user-icon {
    width: 100px;
    height: 100px;
}

.edit_margin {
    margin-right: 90px !important;
}

.read-msg {
    font-weight: normal !important;
}

.role-list-batch {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 27px;
}

.title-icon-middle {
    width: 40px;
    margin: 0.43rem;
    vertical-align: -17px;
}

.image-circle-small {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 10px;
    margin-top: 10px;
}

.image-circle-small-border-less {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#icon-check-list ul {
    margin-bottom:80px;
}